CompileFlags:
  Add: [
    # allow clangd to find OpenSSL's header files
    "-I/opt/homebrew/Cellar/openssl@3/3.4.0/include",
    "-L/opt/homebrew/Cellar/openssl@3/3.4.0/lib",
    "-Wall", 
    "-Wextra", 
    "-Wpedantic", 
    "-Wmissing-prototypes", 
    "-Wredundant-decls", 
    "-Wshadow", 
    "-Wpointer-arith", 
    "-Wno-incompatible-pointer-types-discards-qualifiers",
    "-O3", 
    "-fomit-frame-pointer",
    "-D__DEBUG__",
    "-DMAC_GMAC",
    "-DMCELIECE_N=3488"
    # "-DPKE_KYBER"
  ]
