# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Language server
.clangd


# MacOS
.DS_Store

# test binaries
main
keygen512
keygen768
keygen1024
kex_server512
kex_client512
kex_server768
kex_client768
kex_server1024
kex_client1024
uakex_server512
uakex_client512
akex_server512
akex_client512
test/test_authenticators512
test/test_authenticators768
test/test_authenticators1024
test/test_etm512_poly1305
test/test_etm768_poly1305
test/test_etm1024_poly1305
test/test_etm512_gmac
test/test_etm768_gmac
test/test_etm1024_gmac
test/test_etm512_cmac
test/test_etm768_cmac
test/test_etm1024_cmac
test/test_etm512_kmac
test/test_etm768_kmac
test/test_etm1024_kmac
test/test_speed512_poly1305
test/test_speed768_poly1305
test/test_speed1024_poly1305
test/test_speed512_gmac
test/test_speed768_gmac
test/test_speed1024_gmac
test/test_speed512_cmac
test/test_speed768_cmac
test/test_speed1024_cmac
test/test_speed512_kmac
test/test_speed768_kmac
test/test_speed1024_kmac
test/test_utils
# test keypairs
*id_kyber*
*id_kyber.pub*
