# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Language server
.clangd


# MacOS
.DS_Store

# test binaries
main
kex_server512
kex_client512
test/test_authenticators512
test/test_authenticators768
test/test_authenticators1024
test/test_etm1024_gmac
test/test_etm1024_poly1305
test/test_etm512_gmac
test/test_etm512_poly1305
test/test_etm768_gmac
test/test_etm768_poly1305
test/test_speed512
test/test_speed768
test/test_speed1024
